<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/bootstrap.min.css">
    </head>

    <body class="dashboard-body">
        <nav class="navbar navbar-expand-md" style="background-color: #ae8b0d;">
            <div class="container"><a href
                    class="text-white navbar-brand">Afdalus Salaam <%=
                    user.username; %></a><button
                    class="navbar-toggler" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"><span
                        class="navbar-toggler-icon text-white"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <form action="/admin/logout" class="ms-auto" method="post">
                        <ul class="navbar-nav ">
                            <li class="nav-item text-white"><button
                                    href="/admin/login"
                                    class="text-white btn btn-link logout">Logout</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>

        <div
            class="container d-flex align-items-center justify-content-center mt-3"><a
                href="https://www.faizulmawaidilburhaniyah.com/"
                target="_blank"><img src="/img/fmb-website-logo.png"
                    alt="logo" class="img-fluid"></a></div>

        <div
            class="container p-3 d-flex flex-column align-items-center justify-content-center"
            style="background-color: #fcfbf9;">
            <div class="container mb-4"
                style="background-image: url(/img/separator-design.png); height: 30px;"></div>

            <div class="container row d-flex">
                <div class="col-sm-12 col-md-4">
                    <div class="card shadow total">
                        <div class="card-body">
                            <h5 class="card-title text-center">Total
                                Thali
                                Count</h5>
                            <p
                                class="card-text text-center fw-bold total-thali">0</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card shadow full">
                        <div class="card-body">
                            <h5 class="card-title text-center">Full
                                Thali
                                Count</h5>
                            <p
                                class="card-text text-center fw-bold full-thali">0</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card shadow half">
                        <div class="card-body">
                            <h5 class="card-title text-center">Half
                                Thali
                                Count</h5>
                            <p
                                class="card-text text-center fw-bold half-thali">0</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title text-center">No
                                Thali
                                Count</h5>
                            <p
                                class="card-text text-center fw-bold ">10</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="container my-4"
                style="background-image: url(/img/separator-design.png); height: 30px;"></div>
            <div class="container table-responsive">
                <!-- <div class="hstack align-items-center justify-content-center">
                    <label for="date" class="form-control">
                        <input type="date"
                            name="date" id="date"
                            class="form-control mb-3">
                    </label>
                    <button class="btn text-white rounded-5"
                        style="background-color: #ae8b0d;">Submit</button>
                </div> -->
                <div class="input-group mb-3">
                    <input type="date" class="form-control" name="date"
                        id="date" placeholder="dd-mm-yyyy">
                    <button class="btn btn-outline-secondary submit-date"
                        type="button"
                        id="button-addon2"
                        style="background-color: #ae8b0d; color: #fff"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-funnel"
                            viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                        </svg></button>
                </div>
                <table class="table thali-data ">

                </table>
            </div>
        </div>

        <script src="/script.js"></script>
        <script src="/bootstrap.bundle.min.js"></script>
    </body>

</html>