<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">
        <title>FMB Haidery</title>
    </head>

    <body class="login-page-body">

        <div
            class="container-fluid login-container rounded-0 d-flex align-items-center justify-content-center">
            <div
                class="col-sm-10 col-md-7 col-lg-4 col-xl-3 bg-white rounded-3 d-flex flex-column align-items-center pt-3 shadow"
                style="opacity: 0.97;">
                <div
                    class="container d-flex align-items-center justify-content-center"><img
                        src="/img/fmb-website-logo.png" alt="logo"
                        class="img-fluid"></div>
                <section class="container">
                    <h5 class="text-center m-0 fw-bolder p-2"
                        style="color: #b9822b">FAIZUL MAWAID
                        AL BURHANIYAH HAIDERY COLONY</h5>
                </section>
                <div
                    class="container d-flex align-items-flex-start justify-content-center"
                    style="width: 40%"><img
                        src="./img/Motif_Login.png" alt="logo"
                        class="img-fluid"></div>
                <!-- <form class="p-3 w-100 vstack gap-2 login-form"> -->
                <form class="p-3 w-100 vstack gap-2 login-form"
                    action="/user/login"
                    method="POST">
                    <label for="its" class="form-label w-75"
                        style="color: #7a99a2;"><span class="ms-3">ITS ID</span>
                        <input type="text" id="its" name="its"
                            class="form-control its text-center rounded-5"
                            placeholder="Enter ITS ID"></label>
                    <label for="password" class="form-label w-75"
                        style="color: #7a99a2;"><span
                            class="ms-3">Password</span>
                        <input type="password" id="password" name="password"
                            class="form-control pass text-center rounded-5"
                            placeholder="Enter Password">
                    </label>
                    <div
                        class="vstack gap-3 align-items-center justify-content-center">
                        <button
                            class="login-btn shadow mt-3 w-50 rounded-5">Login</button>
                        <a href="#" class="btn btn-link text-secondary">forgot
                            password?</a>
                    </div>
                    <!-- <a href="/register"
                        class="btn register mb-3 px-3 w-100 rounded-5">Register</a> -->
                </form>
                <!-- <div class="p-3 w-100 vstack gap-3 auth">
                    <div class="form-floating mb-3">
                        <input type="text" name="its"
                            class="form-control its"
                            id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput">ITS ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control pass"
                            name="password" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
            </div> -->
            </div>

            <script src="/script.js"></script>
        </body>

    </html>